
.carousel-item{
    text-align: center;
    align-items: center;
}
.carousel-item > img{
    width: 50% !important;
    border-radius: 5px;
    margin-left: 25%;
    height: 450px; 
}
.card{
    display: block;
    justify-content:center;
    margin-top: auto;
    align-items: flex-end;
}